<div class="regionmap">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map-canvas { height: 100% }
  </style>

  <script type="text/javascript">
    function initialize() {


      var map = new google.maps.Map(document.getElementById("map-canvas"), {
          mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      var markerBounds = new google.maps.LatLngBounds();
      var markersArray = [];

      <% @region.restaurants.each do |restaurant| %>
        var myLatlng = new google.maps.LatLng(<%=restaurant.lat%>, <%=restaurant.long%>);
        markerBounds.extend(myLatlng);
        
        var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title:"<%=restaurant.name%>"
        });
        markersArray.push(marker);
      
      <% end %>

      map.fitBounds(markerBounds);

    };

    google.maps.event.addDomListener(window, 'load', initialize);
  
  </script>

  <div id="map-canvas" style="width:500px; height:500px;"/>

</div>
